DISCORD_EMAIL=
DISCORD_PASSWORD=
DISCORD_CHANNEL_URL=
OPENROUTER_API_KEY=
INITIAL_SYSTEM_MESSAGE=
COOKIE_FILE_NAME="discord_session.json"
#@BotName
BOT_NAME=
API_URL=
#llm to use for chat
MODEL_NAME=
#discord user id
ADMIN_USER_ID=
# command execution endpoint base url
BASE_URL=
